html{
    width : 100%;
    height: 100%;
}

body{
    font: 1em "Fira Sans", sans-serif;
    background-color:#87CEFA;
    margin: auto;
    width: auto;
    max-width: 545px;
    height: 100%;
}

#center {
    padding: 0% 0% 5% 0%;
    border-radius: 20px;
    position: relative;
    width: 85%;
    height: 70%;
    min-height: 520px;
    margin: auto;
    top: 20px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 7px 7px 6px 2px #A9A9A9;
}

h1{
    text-align: center;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index : 999;
    padding: 4px;
    background-color: #3a86ff;
    color: white;
    font-size: min(40px,8.5vw);
}

button{
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
}

#Nav{
    position: absolute;
    bottom: 0%;
    height: 60px;
    padding: 0 5% 0 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#blue {
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
}

#blue:hover {
    box-shadow: 0 5px #4433ff;
}

#blue:active {
    box-shadow: 0 0 #4433ff;
}

#grey {
    visibility: visible;
    background: #00A75F;
    box-shadow: 0 5px #00590D;
}

#grey:active {
    box-shadow: none ;
}

#send{
    position: relative;
}

form{
    position: relative;
    text-align: center;
    height: 70%;
    max-height: 405px;
    width: 100%;
}

#TS {
    display: contents;
    height: 100%;
    width: 100%;
}

#P2 {
    display: none;
    height: 100%;
    width: 100%;
}

#P3 {
    display: none;
    height: 100%;
    width: 100%;
}

#FINAL{
    display: none;
    height: 100%;
    width: 100%;
}

#OtherText{
    border : none;
    background-color : whitesmoke;
    border-bottom: 1px dashed #a8a8a8 ;
    width: 40%;
    height: 13.5px;
    resize: none;
}

input:focus, textarea:focus{
    outline: none;
}

label {
    display: inline-block;
    position: relative;
    width: 65%;
    max-width: 250px;
    margin: auto;
    margin-top: -5%;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #3a86ff;
    box-shadow: 0 5px #4433ff;
    color: white;
    font-size: min(4vw,22.5px);
    font-weight: bold;
}

#MOREINFO{
    margin-top: -0%;
    resize: vertical;
    max-height: 200px;
}

#Radio{
    position: relative;
    width: 75%;
    max-width: 350px;
    margin: auto;
    margin-top: min(3%,15px);
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    border-radius: 10px;
}

input[type='radio']:after {
    width: 12.5px;
    height: 12.5px;
    border-radius: 12.5px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3.5px solid whitesmoke;
}

input[type='radio']:checked:after {
    width: 12.5px;
    height: 12.5px;
    border-radius: 12.5px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fada5e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3.5px solid purple;
}

input[type='text'], textarea{
    margin: min(4%,15px) 0 0 0;
    width: 62.5%;
    max-width: 250px;
    border: none;
    border-bottom : 3px dashed #bbbbbb;
    border-radius: 5px;
    background-color : white;
}

 .mandatory {
    background-color: #FF2868;
    box-shadow: 0 5px #9F002E;
}

.facu {
    background-color: #00A75F;
    box-shadow: 0 5px #00590D;
}

#P3 .facu{
    margin-top: 15px;
}

.labelRadio{
    width: 11px;
    font-size: 11px;
    padding: auto;
}

#radios {
    margin-top: min(5%,27.5px);
}

.alert{
    position: relative;
    top: -2.8%;
    color: red;
    height: 0px;
}

#radios span{
    color: black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#radios{
    border-radius: 10px;
}

#ENVOI{
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
    font-size: min(24px,5vw);
    width: auto;
}

